body {
    background-color: cornflowerblue;
}

.app-container {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-detail {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    color: white;
    top: 1px;
    height: 100%;

    position: absolute;
}

.movie-container {
    position: relative;
    z-index: 1;
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie-info h4 {
    margin: 0;
}

.movie-info span {
    margin-left: 3px;
}

.movie-container:hover .movie-detail {
    cursor: pointer;
    display: flex;
}

.navbarMenu-logo {
    color: white;
    margin: 8px;
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #373b69;
}

.navbarMenu {
    color: white;
    margin: 8px;
    text-decoration: none;
}

